.quote-modal {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 20px;
  border-radius: 3px;
  margin: auto;
  width: 95%;
  height: auto;
  background-color: #fff;
  box-shadow:2px 2px 5px #9E9E9E;
}

.quote-text {
  line-height: 1.5;
}

@media only screen and (min-width: 768px){
  .quote-modal {
      width: 500px;
      font-size: 12px;
  }
}
